@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100,200,300,400,500,700,800,900');

body {
  font-family: 'Arima Madurai', cursive;
}
.carousel {
  background-color: white;
  background:white;
  text-align: center;
  padding: 5%;
  padding-bottom: 8%;
  list-style-type: none;
}

.centeredComponents {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}


.slide {
  background-color: white;
  background:white;
}
.checkboxInputs{
  display: block;
  height: 50px;
  width: 50px;
  padding: 10%;
}


/* label + #tv:checked {
  background-color: blue;
} */

.noneCheckbox{
  display: none;
}

.noneCheckbox:checked + label {
  background-color: darkgreen;
  border-radius: 25px;
}

.mapboxgl-popup-content {
  max-width: 0;
  max-height: 0;
  padding:0px;
  margin:0;
}


