.carousel {
  background-color:#DFDFDF;
  color: white;
  text-align: center;
  padding: 5%;
  padding-bottom: 8%;
  list-style-type: none;
}

.centeredComponents {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.carousel {
  background-color: white;
  background:white;
}

a {
  color: white;
}



