.carousel {
  background-color: white;
  background:white;
  text-align: center;
  padding: 5%;
  padding-bottom: 8%;
  list-style-type: none;
}

.centeredComponents {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}


.slide {
  background-color: white;
  background:white;
}




